@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AppFont";
    src:
            url("./assets/fonts/AppFont.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html, body {
        font-family: "AppFont", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    }

    *, *::before, *::after {
        font-family: inherit;
    }
}
